.carrito{
    font-weight: bold;
    width: 50px;
    height: 40px;
    padding: 14px;
    font-size: 8px;
    background: #9f80b1;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: medium;
}

.carritoImg{
        margin-right: 20px;    
}