.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor_list{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 10px;
}
.card {
    width: 250px;
    border-radius: 10px;
    border:rgb(101, 38, 55) solid 1.4px;
    background-color: rgba(255, 255, 255, 0.491);
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    transition: all 0.5s;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 10px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.info {
    text-align: center;
    align-items: center;
    line-height: 1.2em;
}

.agregar {
    background-color: rgb(146, 78, 146);
    border: none;
    font-family: var(--mulish-font);
    font-weight: 700;
    font-size: 1rem;
    margin-top: 60px;
    width: 112px;
    height: 40px;
    cursor: pointer;
}

.count{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 140px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 40px auto 0;
  }
  
  .count-container__button {
      color:  rgb(146, 78, 146);
      width: 100%;
      height: 100%;
      border: 1px solid var(--border-color);
      font-size: 1.6rem;
      transition: all 250ms ease-out;
  }
    
  .count-container__button:hover {
      border: none;
      color: rgb(121, 58, 58);
      background-color: grey;
  }
  
  .count-container__button[disabled] {
      color: #555555;
      background-color: transparent;
      border: 1px solid #555555;
    }