.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 800px;
  }
  .form__container {
    display: flex;
    padding: 5rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .titulo{
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
  }
  .form__input{
      width: 400px;
      padding: 10px;
      margin: .5rem 0;
  }
  .form__btn{
      width: 100%;
      padding: .5rem;
      margin: .5rem 0;
  }
  .form__text{
      color: white;
      padding: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0;
  }

  .button{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: rgb(255, 235, 235);
    border:#7a6770 2px solid;
    background-color: #574c51;
    border-radius: 5px;
    padding: 6px;
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.5s;
}