.nav {
    display: flex;
    flex-flow: nowrap;
    background: rgb(216, 192, 192);
  }

  .item {
    display: inline;
    padding: 15px;
    margin-right: 20px;
  }

  .logo{
    display: inline;
    padding: 15px;
    margin-right: 20px;
  }

  .img_logo{
    height: 50px;
    width: 50px;
  }
  .item:hover{
    background-color: white;
  }
  .a:hover{
    color: black;
  }

.menu {
    padding: 15px; 
  }

  .logo.a:hover {
    text-decoration: none;
  }
  .a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}  